<h1 class="page-header">All of the Statuses</h1>

<%= link_to 'Post a New Status', new_status_path, :class => "btn btn-primary" %>

<% @statuses.each do |status| %>
  <div class="status">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <ul class="meta">
      <li><%= link_to time_ago_in_words(status.created_at) + " ago", status %></li>
      <li class="admin"><%= link_to 'Edit', edit_status_path(status) %></li>
      <li class="admin"><%= link_to 'Destroy', status, method: :delete, data: {confirm: 'Are you sure?'} %></li>
    </ul>
  </div>
<% end %>

